extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Logged in as 
            span=name 
    else 
        h1.greeting Welcome 
            span=name 
            |  to our website


append links 
    li(style="float: right;")
        a(href="/loggout") Loggout 

block content
    .dashboard 
        .user 
            +message(opp, name)